<!--*- mode: django-html -*-->
{% extends "blog_base.html" %}

{% block title %}
  Архив блога Димы Джуса
{% endblock %}

{% block navigation %}
  {{ block.super }}
  {% if not overview %}
    <a href="{% url archive_overview %}">архив</a> /
  {% else %}
    архив /
  {% endif %}
{% endblock %}

{% block base %}
<div class="box">

<h1>Архивы блога</h1>

{% for entry in entry_list %}
  {% ifchanged entry.add_date.year %}
  {% if not forloop.first %}</div>{% endif %}
  <div style="float: left; margin-right: 1em;">
    <h2>
      <a href="{% url archive_year entry.add_date.year %}"
         title="Все записи за {{ entry.add_date.year }} год">
        {{ entry.add_date|date:"Y" }}
      </a>
    </h2>
  {% endifchanged %}
    
  {% ifchanged entry.add_date.month %}
    <h3>
      <a href="{% url archive_month entry.add_date.year entry.add_date.month %}"
         title="Все записи за {{ entry.add_date|date:"F Y"|lower }}">
        {{ entry.add_date|date:"F" }}
      </a>
    </h3>
  {% endifchanged %}
  
  {% if forloop.last %}
    </div>
    <p style="clear: both;">
      Можно посмотреть заголовки всех записей 
      <a href="{% url archive_biglist %}"rel="appendix">одним списком</a>
      (всего {{ forloop.counter }}).
    </p>
  {% endif %}
{% endfor %}

</div>
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/media/css/blog_archive.css" />
{% endblock %}

{% block custom_footer %}
{% endblock %}
