{% extends "base.xhtml" %}

{% block title %}
Блог Димы Джуса
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/media/css/blog.css" />
{% endblock %}

{% block navigation %}
{{ block.super }} <a href="/blog" title="Перейти на начальную страницу блога">блог</a> /
{% endblock %}

{% block base %}
        {% block blog_main %}
        {% endblock %}
{% endblock %}

{% block custom_footer %}
    <div id="blog_links" style="float:left;">
        <a href="/blog/tag/статьи/" title="Все статьи в блоге">Статьи</a>
        <br />
        <a href="/blog/archive/" title="Архивы записей блога по годам и месяцам">Архив блога</a>
        •
        <a href="/blog/tag/" title="Все теги">Все теги</a>

    </div>
{% endblock %}
