{% extends "blog_base.html" %}

{% block custom_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/media/css/tag-cloud.css" />
{% endblock %}

{% block navigation %}
{{ block.super }} облако тегов /
{% endblock %}

{% block title %}
Все теги блога Димы Джуса
{% endblock %}

{% block base %}
<div class="box">
  {% for tag in tags %}
  <span class="weight-{{ tag.font_size }}">
    <a rel="tag"
       href="/blog/tag/{{ tag.name }}/" 
       title="Все записи с тегом «{{ tag.name }}»">
      {{ tag.name }}</a> {{ tag.count }}
  </span>
  {% endfor %}
</div>
{% endblock %}
