<!--*- mode: django-html -*-->
{% extends "blog_base.html" %}

{% block title %}
Статистика блога Димы Джуса
{% endblock %}

{% block navigation %}
  {{ block.super }} статистика
{% endblock %}

{% block base %}
<div class="box">
  <h1>Распределение информации в блоге</h1>
  Далее представлены графики роста блога с течением времени и с
  увеличением количества записей.
  <h2>По времени</h2>
  По оси <span class="math">x</span> равномерно распределены даты.
  <br />
  <img src="{{ date_chart.get_url }}"
       alt="Распределение информации в блоге по времени"
       width="{{ date_chart.width }}" 
       height="{{ date_chart.height }}" />
  <br/>

  <h2>По записям</h2>
  По оси <span class="math">x</span> равномерно распределены номера записей.
  <img src="{{ uni_chart.get_url }}"
       alt="Распределение информации в блоге по записям"
       width="{{ uni_chart.width }}" 
       height="{{ uni_chart.height }}" />
  <br/>
  Для построения графиков используется
  API <a href="http://code.google.com/intl/ru/apis/chart/">Google
  Chart</a>
  и <a href="http://pygooglechart.slowchop.com/">pygooglechart</a>.

  <br />
  <img src="{{ uni_pie.get_url }}"
       alt="Распределение записей в блоге по годам"
       width="{{ uni_pie.width }}" 
       height="{{ uni_pie.height }}" />
  <img src="{{ date_pie.get_url }}"
       alt="Распределение информации в блоге по годам"
       width="{{ date_pie.width }}" 
       height="{{ date_pie.height }}" />

</div>
{% endblock %}
