<!--*- mode: django-html -*-->
{% extends "blog_base.html" %}
{% load charts %}
{% load pytils_numeral %}

{% block title %}
Статистика блога Димы Джуса
{% endblock %}

{% block navigation %}
  {{ block.super }} статистика
{% endblock %}

{% block base %}
<div class="box">
  <h1>Распределение информации в блоге</h1>

  {% with pool_range_xlabels|last as count %} 

  {% with pool_size_ylabels|last as size %}

  Всего блог содержит <strong>{{ count }}</strong>
  запис{{count|choose_plural:"ь,и,ей" }}, в которых
  <strong>{{ size }}</strong> печатных и не очень 
  знак{{ size|choose_plural:",а,ов" }}.

  {% endwith %} {% endwith %}

  <h2>За всё время</h2>

  <h3>По датам</h3>

  Рост блога с течением времени.
  
  <div class="figure">
  {% chart %}
    {% chart-type "line-xy" %}
    {% chart-data pool_x_dates pool_data %}
    {% chart-size "500x325" %}
    {% chart-labels pool_date_xlabels %}
    {% axis "left" %}
      {% axis-labels pool_size_ylabels %}
    {% endaxis %}
    {% chart-colors "ce5c00" %}
    {% chart-alt "График роста блога с течением времени"%}
    {% chart-grid 25 25 1 1 %}
  {% endchart %}
  </div>

  <h3>По записям</h3>

  Рост блога с увеличением количества записей.

  <div class="figure">
  {% chart %}
    {% chart-type "line-xy" %}
    {% chart-data pool_x_range pool_data %}
    {% chart-size "500x325" %}
    {% chart-labels pool_range_xlabels %}
    {% axis "left" %}
      {% axis-labels pool_size_ylabels %}
    {% endaxis %}
    {% chart-colors "a40000" %}
    {% chart-alt "График роста блога с увеличением числа записей"%}
    {% chart-grid 25 25 1 1 %}
  {% endchart %}
  </div>
  <h2>По годам</h2>

  <h3>По количеству записей</h3>

  В скобках указано, сколько всего записей было добавлено за год.
  
  <div class="figure">
  {% chart %}
    {% chart-data yearly_count %}
    {% chart-size "400x200" %}
    {% chart-type "pie" %}
    {% chart-labels yc_labels %}
    {% chart-colors "a2cfff" "3465a4" %}
    {% chart-alt yc_labels %}
  {% endchart %}
  </div>
  
  <h3>По объёму записей</h3>
  
  В скобках обозначен суммарных объём (в знаках) всех записей за год.
  
  <div class="figure">
  {% chart %}
    {% chart-data yearly_measure %}
    {% chart-size "400x200" %}
    {% chart-type "pie" %}
    {% chart-labels ym_labels %}
    {% chart-colors "8ae234" "4e9a06" %}
    {% chart-alt ym_labels %}
  {% endchart %}
  </div>
  
  <h3>По плотности записей</h3>

  Числа слева означают среднюю плотность записей за год, определяемую
  как отношение объёма к количеству.
  
  <div class="figure">
  {% chart %}
    {% chart-data yearly_density %}
    {% chart-size "400x200" %}
    {% chart-type "column-grouped" %}
    {% chart-labels years %}
    {% axis "left" %}
      {% axis-labels density_labels %}
    {% endaxis %}
    {% chart-colors "ad7fa8" "5c3566" %}
    {% chart-alt yd_labels %}
    {% chart-bar-width 60 %}
  {% endchart %}
  </div>
  
  <div class="smallnotice">
    Для построения графиков используется
    API <a href="http://code.google.com/intl/ru/apis/chart/">Google
    Chart</a>
    и <a href="http://github.org/jacobian/django-googlecharts/">googlecharts</a>
    для Django.
  </div>

</div>
{% endblock %}
