<!--*- mode: django-html -*-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
          "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xml:lang="ru">
  <head profile="http://purl.org/uF/rel-tag/1.0/
                 http://purl.org/uF/hCard/1.0/
                 http://www.w3.org/1999/xhtml/vocab/">
    
    <title>{% block title %}Дмитрий Джус и его всё{% endblock %}</title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    
    <meta property="dc:creator" content="Дмитрий Джус" />
    <meta property="dc:creator" content="Dmitry Dzhus" xml:lang="en" />

    <!-- Urchin tracker -->
    <meta name="verify-v1" content="1catUmsXWtAgm37Ca8nVWx2DK4fjw59QRpcxqtbrTks=" />
    
    <link rel="icon" type="image/png" href="/media/icons/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/media/css/base.css" />
    
    {% block custom_css %}
    {% endblock %}
    
    {% block custom_js %}
    {% endblock %}
    <link rel="alternate" type="application/rss+xml" title="RSS-лента блога" 
          href="/feeds/blog/" />
    
    <!-- Google Analytics -->
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      _uacct = "UA-2037319-1";
      urchinTracker();
    </script>

    <!-- YaMetrics -->
    <script type="text/javascript"><!--
                                      var ya_cid=155635;
                                      //--></script>
    <script src="http://bs.yandex.ru/resource/watch.js" type="text/javascript"></script>
    
    {% block links %}
    {% endblock %}
  </head>
  
  <body>
    <div id="fit">
    {% block header %}
    {% include "header.html" %}
    {% endblock %}
    
    <div id="navigation">
      {% block navigation %}
      <a href="/" title="Перейти на главную страницу сайта">Сайт Димы Джуса</a> /
      {% endblock %}
    </div>
    
    {% block base %}
    {% endblock %}
    
    <div id="footer">
      {% block footer %}
      {% block custom_footer %}
      {% endblock %}
      {% include "footer.html" %}
      {% endblock %}
    </div>
    </div>
  </body>
</html>
