<!--*- mode: django-html -*-->
{% extends "base.html" %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="/media/css/index.css" />
{% endblock %}

{% block navigation %}
Сайт Димы Джуса /
{% endblock %}

{% block base %}
{% if user.is_superuser %}
<div class="box" id="blog_admin">
  <p><a href="/admin/blog/entry/add/">Добавить запись</a>,
  посмотреть <a href="/admin/comments/comment/">комментарии</a>.</p>
  <p><a href="/accounts/logout/">Выйти из системы</a>.</p>
</div>
{% endif %}

<div class="box" id="blog_digest">
  <h1><a href="/blog/">Блог</a></h1>
  
  <span style="float: right;">
    <a href="/feeds/blog/30/" title="RSS-лента блога">
      <img src="/media/icons/feed-icon-28x28.png" alt="RSS" />
    </a>
  </span>
  
  <h2>Последние записи</h2>

  {% for entry in latest %}
  <h3 class="entry_title">
    <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a> // <small>{{ entry.add_date|date:"d.n.y" }}</small>
  </h3>
  {% endfor %}

  <h2>Прочая</h2>
  <p>
      Интереснее всего <a rel="tag" href="/blog/tag/статьи/">статьи</a>.
  </p>
  <p>
      Доступен <a href="/blog/archive/">архив блога</a>, <a href="/blog/stats/">статистика</a>
      и <a href="/blog/tag">облако</a> тегов.
  </p>
</div>

<div class="box" id="outer_space">
  {% include "outer_space.html" %}
</div>
{% endblock %}
