<!--*- mode: django-html -*-->
{% extends "base.html" %}

{% block navigation %}
  {{ block.super }} вход в систему /
{% endblock %}

{% block base %}
<div class="box" id="login_form">
  <div class="text" style="text-align:center;">
    {% if form.has_errors %}
      <div class="error">Введено неверное сочетание имени пользователя и пароля!</div>
    {% endif %}
    <form method="post" action=".">
      <div>
        {{ form.username }}
        {{ form.password }}
        <input type="submit" value="Вход" />
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
