<!--*- mode: django-html -*-->
<div id="user_box" class="box">
  <div class="header">
    Меню 
  </div>
  <div class="text">
    {% if user.is_authenticated %}
    Привет, {{ user.username }}!
    <br />
    <ul>
      {% if user.is_superuser %}
      <li><a href="/admin/">Администрирование</a></li>
      <li><a href="/blog/entry/add/">Добавить запись</a></li>
      {% endif %}
      <li><a href="/accounts/logout/">Выйти из системы</a></li>
    </ul>
    {% else %}
    Привет, гость!
    <br />
    <!--
       <ul>
         <li><a href="/accounts/login/">Войти в систему</a></li>
       </ul>
       -->
    {% endif %}
    <ul>
      <li><a href="/blog/">Блог</a></li>
      <!-- <li><a href="/files/">Файлы</a></li> -->
      <!-- <li>О сайте</li> -->
      <!-- <li><a href="/about/">Об авторе</a></li> -->
      <li><a href="/about/feedback/">Связь</a></li>
    </ul>
  </div>
</div>
